{% # - Info Section -# %}
<section class="py-5">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="h3 mb-3">{{ site.pages.home.info.headline }}</h2>
        <p class="lead text-secondary">{{ site.pages.home.info.subline }}</p>
      </div>
    </div>

    {% # - Problem/Solution -# %}
    <div class="row mb-5 problem-solution-row">
      <div class="col-lg-6 mb-4">
        <div class="p-4 border border-secondary border-opacity-25 rounded-3">
          <h3 class="h5 mb-4">{{ site.pages.home.info.problem.title }}</h3>
          <div class="mb-0">{{ site.pages.home.info.problem.description }}</div>
        </div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="p-4 border border-success border-opacity-25 rounded-3 solution-box">
          <h3 class="h5 mb-4 solution-title">{{ site.pages.home.info.solution.title }}</h3>
          <div class="d-flex flex-column gap-3">
            {% for step in site.pages.home.info.solution.steps %}
              <div class="d-flex {% unless forloop.last %}mb-3{% endunless %}">
                <div class="me-3">
                  <span class="solution-badge">{{ step.number }}</span>
                </div>
                <div>
                  <h6 class="mb-1">{{ step.title }}</h6>
                  <small class="text-secondary">{{ step.description }}</small>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>